body{
    background: url(../img/background-complete.jpg) no-repeat top;
    background-size: cover;
    background-attachment: fixed;
}

.nav-gradient{
    background: linear-gradient(180deg, #D2DAF2 44.99%, #EDE0F1 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pink{
    background: #EAD0E9;
}

.input-message{
    background: #FCFAFB;
    border-radius: 13px;
}

.btn-message {
  background: none;
  border: 0;
  border-left: 1px solid white;
  color: inherit;
}