/* estilos de la conversación con chatbot */
#talking{
    position: absolute;
	width:100%;
	height:100%;
    background: url(../img/background-complete.jpg) no-repeat top;
    background-size: cover;
    background-attachment: fixed;
    display: none;
}

/* estilos del menú de navegación dentro de #talking */
.nav-gradient{
    background: linear-gradient(180deg, #D2DAF2 44.99%, #EDE0F1 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pink{
    background: #EAD0E9;
}

.input-message{
    background: #FCFAFB;
    border-radius: 13px;
}

.btn-message {
  background: none;
  border: 0;
  border-left: 1px solid white;
  color: inherit;
}

/* estilos section index */
#index{
    display: none;
}

.background-body{
    position: absolute;
	width:100%;
    background: url(../img/index_background_small.jpeg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.row-index {
    height: 50%; 
}

.img-responsive{  /* gracias a esto se centra la imagen del logo */
  margin: 0 auto;
  display: flex; 
}



/* estilos sección pin */
.btn-circle {
    width: 80px;
    height: 80px;  
    border: 2px solid #ffffff;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}
.btn-pin{
    color: #ffffff;
}
.letter{
    font-size: 10px;
    color: #ffffff;
    display: block;
}

.img-circulos {
    opacity: 0.5;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: #ffffff;
}